
<div class="NavigationBar">
<div class="Spacer"></div>
<a href="src\index.html" target="_parent" rel="noopener noreferrer">
<img src="assets\img\Logo.PNG" style="height: 50px; display: inline; vertical-align: middle;">
</a>
<button class="navigation-button" onclick="toggle()">  
  <span> PartyHub Preview</span>
</button>

<button class="navigation-button" onclick="toggle2()"> 
  <span>Login Preview</span>
</button>
<div class="Spacer2"></div>

<a type="button" href="assets\Install\PartyHub Setup.msi" download>
<button class="downloadNow">
<mat-icon aria-hidden="false" aria-label="Example home icon" class="DownloadIcon">download</mat-icon> 
<span>DOWNLOAD</span> </button>
</a>  

</div>

<div class="Content" id="content">
  <div class="animateImg">
    <img id="PartyIcon" src="assets\img\Logo.PNG">
  </div>
    <h2 id="description" >Party Hub er en Spotify baseret Windows Applikation. <br> Den er Gratis at Downloadere!</h2>
    

    <a type="button" href="assets\Install\PartyHub Setup.msi" download>
      <button  class="ContentButton">  
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="DownloadIcon">download</mat-icon> DOWNLOAD PARTYHUB </button>
    </a>  
    <button class="ContentButton2" id="LoginButton" onclick="toggle()"  >
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="DownloadIcon" >smart_display</mat-icon>
      <span>PARTYHUB PREVIEW</span> </button>  
</div>


<div class="gallery" id="gallery">
  <img src="assets\img\Preview3.png" height="500px" width="1600px" >
</div>

<div class="gallery2" id="gallery2">
  <img src="assets\img\Preview2.png" height="800px" width="1600px" >
</div>



